*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    background-color: rgb(46, 42, 42);
}
ul{
    display: flex;
    color: white;

} 
li{
    width: 200px;
    list-style-type: none ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.logo{
    margin-left: 50px;
    color: white;

}
.navi{
    margin-right: 30px;
}
.home{
    height: 100vh;
    width: 100vw;
    background-image: url(sunset.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.ultraman{
    height: 88%;
    width: 50%;

    display: flex;
    align-items: end;
    margin-left: 30px;
}
.batman{
    color: white;
    font-size: 65px;
    align-content: flex-end;
    justify-content: flex-end;

}
.w{
    margin-left: 57px;
}
.b{
    margin-left: 65px;
}
.about{
    background-color: #2e2a2a;
    height: 100vh;
    width: 100vw;
}
.header{
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: white;
}
.header p{
    margin-top: 20px;
}
.profile{
    height: 75%;
    width: 90%;
    display: flex;
    justify-content: flex-end;
    justify-items: right;

}
.intro{
    height: 30%;
    width: 50% ;
    justify-items: flex-start;

    font-size: 70px;
    color: white;
    margin-top: 90px;
}
.sentence{
    height: 100%;
    width: 100%;
    font-size: 25px;
    color: white;

    margin-top: 60px;
}
.footer {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: flex-end;   
}

.social-media {
    display: flex;
    gap: 100px; 
    text-align: center;
}

.social-item strong {
    font-size: 20px;
    color: white;
}

.social-item span {
    font-size: 20px;
    color: white;
}
.hobbies{
    height: 100vh;
    width: 100vw;
}
.header1{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: black;
}
.header1 p{
    margin-top: 20px;
}
.habes{
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 10px;
}
.parent{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mubi{
    height: 110%;
}
.og{
    height: 110%;
}
.box1{
    height: 30%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.basketball{
    height: 80%;
    width: 40%;
    color: white;
}
.bball{
    height: 100%;
    width: 45%;

}
.box2{
    height: 30%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.movies{
    height: 80%;
    width: 40%;
    color: white;
}
.mubi{
    height: 100%;
    width: 80%;
}
.box3{
    height: 30%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.games{
    height: 80%;
    width: 40%;
    color: white;
}
.og{
    height: 100%;
    width: 65%;
}
hr {
    border: 2px solid black;  
    width: 50%;               
    margin: 20px auto;        
}
.skills{
    background-color: #2e2a2a;
    height: 100vh;
    width: 100vw;
}
.header2{
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: white;
}
.header2 p{
    margin-top: 20px;
}
.gallery{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 20px;
}
.item{
    height: 100%;
    width: 25%;
    justify-content: space-around;
    background-color: white;
    border: solid 3px white;
}
.title{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image {
    height: 35%;
    width: 100%;
}
.desc{
    height: 55%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 19px;
}
.desc p{
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 28px;
    background-color: #2e2a2a;
    color: white;
}
.img{
    height: 100%;
    width: 100%;
}
.gallery4{
    height: 100vh;
    width: 100vw;
}
.header3{
    display: flex;
    justify-content: center;
    font-size: 50px;

}
.header3{
    margin-top: 20px;
}
.gallery4{
    height: 100%;
    width: 100%;
}
.scenery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}
.scenery img{
    height: 250px;
    width: 400px;
    border-radius: 13px;
}
.customerreview{
    background-color: #2e2a2a;
    height: 100vh;
    width: 100vw;
}
.header4{
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: white;
}
.header4 p{
    margin-top: 20px;
}
.header5 p{
    margin-top: 30px;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.header6 p{
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.reviewcustomer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin: 0;
}
.testimonial-container {
    display: flex;
    gap: 70px;
}
.testimonial-card {
    background-color: #f1f1f1;
    width: 350px;  
    height: 350px; 
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-header {
    background-color: #777; 
    color: white;
    padding: 15px;
    font-size: 1.2em;
    font-weight: bold;
}
.card-body {
    height: 60%;
    padding: 20px;
    margin-bottom: 80px;

}
.card-body p {
    color: #333;
    font-size:20px;
    line-height: 1.5;
}
.client-role {
    display: block;
    margin-top: 90px;
    color: #777;
    font-weight: bold;
}
.puwter{
    height: 110px;
    width: 100%;  
}
.contactbox {
    background-color: grey; 
    padding: 20px;
    text-align: center;
    width: 100%;
}
h2 {
    font-size: 20px;
    font-weight: bold;
    color:black;  
}
.contactinfo {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-left: 40px;
}
.contact {
    text-align: center;
}
.contact strong {
    font-size: 15px;
    color: #000;
}
.contact span {
    font-size: 15px;
    color: black;
}