*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    background-color: rgb(46, 42, 42);
    border: 3px solid yellow;
}
ul{
    display: flex;
    color: white;
    border: 3px solid blue;
} 
li{
    width: 200px;
    list-style-type: none ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.logo{
    margin-left: 50px;
    color: white;
    border: 3px solid rgb(92, 92, 100);
}
.navi{
    margin-right: 30px;
}
.home{
    height: 100vh;
    width: 100vw;
    background-image: url(sunset.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid red;
}
.ultraman{
    height: 88%;
    width: 50%;
    border: blue solid 2px;
    display: flex;
    align-items: end;
    margin-left: 30px;
}
.batman{
    color: white;
    font-size: 65px;
    align-content: flex-end;
    justify-content: flex-end;
    border: 3px solid white;
}
.w{
    margin-left: 57px;
}
.b{
    margin-left: 65px;
}
.about{
    background-color: rgb(46, 42, 42);
    height: 100vh;
    width: 100vw;
}
.header{
    display: flex;
    justify-content: center;
    font-size: 65px;
    color: white;
}
.header p{
    margin-top: 20px;
}
.desc p{
    display: flex;
    justify-content: center;
    color: white;
}